<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Barkingham Palace Website">

    <title>Barkingham Palace</title>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<header>

    <nav class="navbar-top">
        <label class="navbar-hamburger" for="hamburger">
            <em class="fa fa-bars"></em>
        </label>

        <a class="logo-container" href="/home">
            <img class="logo" src="Logo.png" alt="Logo">
        </a>

        <input type="checkbox" id="hamburger"></input>

        <ul class="nav-menu">
            <li>
                <a href="/home" class="nav-menu-links">Home</a>
            </li>
            <li>
                <a href="/about" class="nav-menu-links">About</a>
            </li>
            <li>
                <a href="/grooming" class="nav-menu-links">Grooming</a>
            </li>
            <li>
                <a href="/boarding" class="nav-menu-links">Boarding</a>
            </li>
            <li>
                <a href="/gallery" class="nav-menu-links">Gallery</a>
            </li>
            <li>
                <a href="/testimonials" class="nav-menu-links">Testimonials</a>
            </li>
            <li>
                <a href="/contact" class="nav-menu-links">Contact</a>
            </li>
        </ul>

    </nav>

</header>

<div class="image-bar">
    <img class="large-image" src="Grooming2.jpg" alt="Grooming">
    <img class="large-image" src="Boarding2.jpg" alt="Boarding">
</div>

<div class="cta-bar">
    <div class="cta-text-box">
        <p class="cta-text">
            Want to pimp up your pooch? Or looking for boarding pawfection?
        </p>
        <p class="cta-text">
            Speak to our friendly team on 01733 222124 or send us an enquiry...
        </p>
    </div>

    <div class="cta-button-box">
        <a href="/contact" class="cta-button">
            Enquire
        </a>
    </div>
</div>

<div class="home-page-content">
    <div class="title">
        About Barkingham Palace
    </div>

    <div class="strapline">
        Whether big or small we groom them all. Paws down, the best around!
    </div>

    <div class="strapline">
        Bone-afide boarding and care, we're the bark of the town!
    </div>

    <div class="home-text-box">
        Hello! My name is Joe Exotic, owner and head stylist at Barkingham Palace Luxury Dog Grooming Salon and Boarding
        Kennels.
        I’ve been working with animals with passion and comitment for over 20 years. After leaving school in 2004, I
        undertook my Diploma in Animal Care followed by National Diploma in Animal Management which led to me working at
        Young's Veterinary Centre in Peterborough.
        Here I trained to be a dog groomer for the business and realised that I had a real talent in this area.
    </div>

    <div class="home-text-box">
        In July 2010 I decided to chase my dream and opened the Barkingham Palace Dog Grooming Salon.
        The business grew from strength to strength and allowed me to become the Multi-Awarded winning dog groomer that
        I am today.
        Always looking to better our standards I took my City & Guilds Level 3 qualification in dog grooming passing
        with a Distinction.
        Since opening in 2010 the business has expanded and I now employ three full time stylists to aid with the busy
        grooming business.
    </div>

    <div class="home-text-box">
        In August 2015 I decided to expand the business further offering a luxury dog boarding kennels on site.
        We are fully licensed and fully insured with a ✭✭✭✭✭ Awarded Home Boarding Service, offering our services to fit
        around you, even if it falls on Bank Holidays or weekends.
        We are part of the PIF Pet Industry Federation, British Dog Groomers’ Association, Pet Services Association and
        BIGA British Isles Grooming Association.
        The current team have worked and trained under myself for a number of years and are a testament to the continued
        success and reputation of the Salon and Boarding Kennels.
    </div>

    <div class="services-box">
        <div class="title">
            The Current Team
        </div>

        <div class="services-text-box">
            Currently I employ three full-time stylists for the dog grooming business, who double as kennel-maids for
            the boarding service.
            They are all dedicated professionals who love working with animals like myself. I have worked hard training
            my staff and they all now have
            Level 3 City and Guilds qualifications in dog grooming at Distinction level.
        </div>

        <div class="services">
            <div class="image-box">
                <img class="linked-image" src="Colin.png" alt="Owner">
                <div class="caption">Joe Exotic, Owner and Head Stylist</div>
            </div>

            <div class="image-box">
                <img class="linked-image" src="Susan.jpg" alt="Boarding Image">
                <div class="caption">Carole Baskin, Stylist/Kennel Maid</div>
            </div>
        </div>

        <div class="services">
            <div class="image-box">
                <img class="linked-image" src="Barbara.jpg" alt="Owner">
                <div class="caption">Barbara Streisand, Stylist/Kennel Maid</div>
            </div>

            <div class="image-box">
                <img class="linked-image" src="Ruby.jpg" alt="Boarding Image">
                <div class="caption">Ruby Roundhouse, Stylist/Kennel Maid</div>
            </div>
        </div>
    </div>

    <div class="testimonial-bar">
        <div class="testimonial-text-box">
            Here at Barkingham Palace we take pride in the care of our canine clients. From the smallest to the largest,
            everyone is treated as if they are our own.
            From the youngest to the oldest our aim is to make your pet feel at ease, and give them a chilled and happy
            experience.
            Please peruse the website for details of our bespoke services our friendly team will be only too happy to
            assist you.
        </div>
    </div>
</div>

<div class="social-media-bar">
    <div class="social-media-text-box">
        <p class="social-media-text">
            Like what you see and want to see more?
        </p>
        <p class="social-media-text">
            Why not follow us on social media?
        </p>
    </div>

    <div class="social-media-icons-box">
        <em class="social-media-icon fa fa-facebook-square"></em>
        <em class="social-media-icon fa fa-instagram"></em>
        <em class="social-media-icon fa fa-twitter-square"></em>
        <em class="social-media-icon fa fa-google-plus-square"></em>
    </div>
</div>

<footer class="navbar-bottom">
    <div class="contact-details-container">
        <p class="contact-text">
            <strong>Address: </strong>Barkingham Palace, Luxury
        </p>
        <p class="contact-text">
            Grooming Salon and Boarding Kennels,
        </p>
        <p class="contact-text">
            39 Red Barn, Turves, Peterborough, PE7 2DZ
        </p>
        <p class="contact-text">
            <strong>Phone: </strong>01733 222124
        </p>
        <p class="contact-text">
            <strong>Email: </strong>barkinghampalace@outlook.com
        </p>
    </div>

    <div class="opening-hours-container">
        <p class="opening-hours-text">
            <strong>Opening Hours:</strong>
        </p>
        <p class="opening-hours-text">
            Mon-Thurs: 09.00 - 20.00
        </p>
        <p class="opening-hours-text">
            Fri: 09.00 - 18.00
        </p>
        <p class="opening-hours-text">
            Sat: 09.00 - 15.00
        </p>
        <p class="opening-hours-text">
            Sun: 10.00 - 16.00
        </p>
    </div>

    <div class="awards-container">
        <img class="award" src="Pif.png" alt="pif">
        <img class="award" src="Cityandguilds.png" alt="cityandguilds">
        <img class="award" src="Rosette.png" alt="Rosette">
    </div>
</footer>

</html>