<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Barkingham Palace Website">

    <title>Barkingham Palace</title>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<header>

    <nav class="navbar-top">
        <label class="navbar-hamburger" for="hamburger">
            <em class="fa fa-bars"></em>
        </label>

        <a class="logo-container" href="/home">
            <img class="logo" src="Logo.png" alt="Logo">
        </a>

        <input type="checkbox" id="hamburger"></input>

        <ul class="nav-menu">
            <li>
                <a href="/home" class="nav-menu-links">Home</a>
            </li>
            <li>
                <a href="/about" class="nav-menu-links">About</a>
            </li>
            <li>
                <a href="/grooming" class="nav-menu-links">Grooming</a>
            </li>
            <li>
                <a href="/boarding" class="nav-menu-links">Boarding</a>
            </li>
            <li>
                <a href="/gallery" class="nav-menu-links">Gallery</a>
            </li>
            <li>
                <a href="/testimonials" class="nav-menu-links">Testimonials</a>
            </li>
            <li>
                <a href="/contact" class="nav-menu-links">Contact</a>
            </li>
        </ul>

    </nav>

</header>

<div class="image-bar">
    <img class="large-image" src="Grooming10.jpg" alt="Grooming">
    <img class="large-image" src="Boarding10.jpg" alt="Boarding">
</div>

<div class="cta-bar">
    <div class="cta-text-box">
        <p class="cta-text">
            Want to pimp up your pooch? Or looking for boarding pawfection?
        </p>
        <p class="cta-text">
            Speak to our friendly team on 01733 222124 or send us an enquiry...
        </p>
    </div>

    <div class="cta-button-box">
        <a href="/contact" class="cta-button">
            Enquire
        </a>
    </div>
</div>

<div class="home-page-content">
    <div class="title">
        Luxury Boarding Services at Barkingham Palace Kennels
    </div>

    <div class="strapline">
        Bone-afide boarding and care, we're the bark of the town!
    </div>

    <div class="home-text-box">
        Are you faced with puppy dog eyes and a rather disgruntled looking pooch whenever you fish out the suitcases for
        your holidays?
        Or are you in need of care for your beloved pet while in hospital?
        Or maybe you fancy a night-out or a long weekend away with your friends and/or family?
    </div>

    <div class="home-text-box">
        We all too familiar with the guilt of jetting off to sunnier climates while our “fur-babies” are left behind.
        And worrying about the well-being of your pet when you are under the weather is the last thing you need.
        That’s why we are pleased to offer Luxury Home Boarding for your beloved pets!
    </div>

    <div class="home-text-box">
        We provide a wide range of services covering all your dog boarding needs under one roof.
        We are a FULLY LICENSED and FULLY INSURED ✭✭✭✭ Awarded Home Boarding Service, and as our grooming services are
        bespoke,
        so is our Luxury Home Boarding, so we can offer our services to fit around you, even if it falls on Bank
        Holidays.
    </div>

    <div class="info-container">
        <div class="info-box">
            <div class="info-main">
                <div class="info-title">
                    Full Board for Small to Medium Dogs - £20 per 24 hours
                </div>
                <div class=info-body>
                    You drop off your dog at our Kennels (depending on drop-off time) along with their bed’s, any
                    favourite toys. They will be given regular food, a good walk and lots of love to help them settle
                    in.
                    You can rest easy knowing your dog is in a warm, cosy, loving environment following their regular
                    routine and having lots of fun!
                    You will receive regular text, Instagram or email updates on their adventures until your return.
                </div>
            </div>
            <div class="info-picture">
                <img class="info-image" src="FullBoardSmall.jpeg" alt="FullBoardSmall">
            </div>
        </div>
        <div class="info-box-alt">
            <div class="info-main">
                <div class="info-title">
                    Full Board for large to Extra Large Dogs – £30 per dog
                </div>
                <div class="info-body">
                    You drop off your dog at our Kennels (depending on drop-off time) along with their bed’s, any
                    favourite toys. They will be given regular food, a good walk and lots of love to help them settle
                    in.
                    You can rest easy knowing your dog is in a warm, cosy, loving environment following their regular
                    routine and having lots of fun!
                    You will receive regular text, Instagram or email updates on their adventures until your return.
                </div>
            </div>
            <div class="info-picture">
                <img class="info-image" src="FullBoardLarge.jpeg" alt="FullBoardLarge">
            </div>
        </div>
        <div class="info-box">
            <div class="info-main">
                <div class="info-title">
                    Grooming Customers
                </div>
                <div class="info-body">
                    If you are a customer for our Grooming Services already, you can simply call us,
                    message us, or just come to the Salon and we can book dates for your fur-baby to stay with us.
                    If you are a new customer for boarding once you have agreed a stay with us we can also offer a
                    range of bespoke grooming services for your dog(s) which can be provided during their stay with us.
                </div>
            </div>
            <div class="info-picture">
                <img class="info-image" src="GroomingCustomers.jpeg" alt="GroomingCustomers">
            </div>
        </div>
        <div class="info-box-alt">
            <div class="info-main">
                <div class="info-title">
                    New Customers
                </div>
                <div class="info-body">
                    If you are new to us, please give us a quick message with dogs breed, sex and dates that you would
                    like to book for.
                    After you have done that, we can arrange to meet you and your dog(s) for a FREE consultation “Meet &
                    Greet”,
                    at the same time we can learn about your dog’s routine, food, any medical requirements, favourite
                    toys etc.
                    We often do a trial stay for a day to ensure that you, your dog and we are happy.
                </div>
            </div>
            <div class="info-picture">
                <img class="info-image" src="NewCustomers.jpeg" alt="NewCustomers">
            </div>
        </div>
        <div class="info-box">
            <div class="info-main">
                <div class="info-title">
                    Booking Process
                </div>
                <div class="info-body">
                    We will email you a booking form for each dog, which has to be filled, signed online and emailed
                    back,
                    as well as 50% deposit which has to be paid within 7 days of receiving form to secure dates that you
                    would like,
                    otherwise they can be offered to someone else.
                </div>
            </div>
            <div class="info-picture">
                <img class="info-image" src="BookingProcess.jpeg" alt="BookingProcess">
            </div>
        </div>
        <div class="info-box-alt">
            <div class="info-main">
                <div class="info-title">
                    Booking Terms
                </div>
                <div class="info-body">
                    50% deposit is due at the time of booking. Your booking can only be confirmed when both the deposit
                    and the signed booking form have been received.
                    At Barkingham Palace we are not able to keep home boarding reservations open for more than 7 days so
                    bookings will be released.
                </div>
            </div>
            <div class="info-picture">
                <img class="info-image" src="BookingTerms.jpeg" alt="BookingTerms">
            </div>
        </div>
    </div>
</div>

<div class="social-media-icons-box">
    <em class="social-media-icon fa fa-facebook-square"></em>
    <em class="social-media-icon fa fa-instagram"></em>
    <em class="social-media-icon fa fa-twitter-square"></em>
    <em class="social-media-icon fa fa-google-plus-square"></em>
</div>
</div>

<footer class="navbar-bottom">
    <div class="contact-details-container">
        <p class="contact-text">
            <strong>Address: </strong>Barkingham Palace, Luxury
        </p>
        <p class="contact-text">
            Grooming Salon and Boarding Kennels,
        </p>
        <p class="contact-text">
            39 Red Barn, Turves, Peterborough, PE7 2DZ
        </p>
        <p class="contact-text">
            <strong>Phone: </strong>01733 222124
        </p>
        <p class="contact-text">
            <strong>Email: </strong>barkinghampalace@outlook.com
        </p>
    </div>

    <div class="opening-hours-container">
        <p class="opening-hours-text">
            <strong>Opening Hours:</strong>
        </p>
        <p class="opening-hours-text">
            Mon-Thurs: 09.00 - 20.00
        </p>
        <p class="opening-hours-text">
            Fri: 09.00 - 18.00
        </p>
        <p class="opening-hours-text">
            Sat: 09.00 - 15.00
        </p>
        <p class="opening-hours-text">
            Sun: 10.00 - 16.00
        </p>
    </div>

    <div class="awards-container">
        <img class="award" src="Pif.png" alt="pif">
        <img class="award" src="Cityandguilds.png" alt="cityandguilds">
        <img class="award" src="Rosette.png" alt="Rosette">
    </div>
</footer>

</html>