<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Barkingham Palace Website">

        <title>Barkingham Palace</title>

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>

    <header>

        <nav class="navbar-top">
            <label class="navbar-hamburger" for="hamburger">
                <em class="fa fa-bars"></em>
            </label>

            <a class="logo-container" href="/home">
                <img class="logo" src="Logo.png" alt="Logo">
            </a>

            <input type="checkbox" id="hamburger"></input>

            <ul class="nav-menu">
                <li>
                    <a href="/home" class="nav-menu-links">Home</a>
                </li>
                <li>
                    <a href="/about" class="nav-menu-links">About</a>
                </li>
                <li>
                    <a href="/grooming" class="nav-menu-links">Grooming</a>
                </li>
                <li>
                    <a href="/boarding" class="nav-menu-links">Boarding</a>
                </li>
                <li>
                    <a href="/gallery" class="nav-menu-links">Gallery</a>
                </li>
                <li>
                    <a href="/testimonials" class="nav-menu-links">Testimonials</a>
                </li>
                <li>
                    <a href="/contact" class="nav-menu-links">Contact</a>
                </li>
            </ul>

        </nav>

    </header>

    <div class="image-bar">
        <img class="large-image" src="Grooming5.jpg" alt="Grooming">
        <img class="large-image" src="Boarding5.jpg" alt="Boarding">
    </div>

    <div class="home-page-content">
        <div class="title">
            Barkingham Palace Boarding Collection
        </div>

        <div class="services-box">

            <div class="services">
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage1.jpeg" alt="Boarding Image">
                </div>
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage2.jpeg" alt="Boarding Image">
                </div>
            </div>
            <div class="services">
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage3.jpeg" alt="Boarding Image">
                </div>
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage4.jpeg" alt="Boarding Image">
                </div>
            </div>
            <div class="services">
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage5.jpeg" alt="Boarding Image">
                </div>
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage6.jpeg" alt="Boarding Image">
                </div>
            </div>
            <div class="services">
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage7.jpeg" alt="Boarding Image">
                </div>
                <div class="image-box">
                    <img class="linked-image" src="BoardingImage8.jpeg" alt="Boarding Image">
                </div>
            </div>
        </div>
    </div>

    <div class="social-media-bar">  
        <div class="social-media-text-box">
            <p class="social-media-text">
                Like what you see and want to see more?
            </p>
            <p class="social-media-text">
                Why not follow us on social media?
            </p>
        </div>

        <div class="social-media-icons-box">
            <em class="social-media-icon fa fa-facebook-square"></em>
            <em class="social-media-icon fa fa-instagram"></em>
            <em class="social-media-icon fa fa-twitter-square"></em>
            <em class="social-media-icon fa fa-google-plus-square"></em>
        </div>
    </div>

    <footer class="navbar-bottom">
        <div class="contact-details-container">
            <p class="contact-text">
                <strong>Address: </strong>Barkingham Palace, Luxury
            </p>
            <p class="contact-text">
                Grooming Salon and Boarding Kennels,
            </p>
            <p class="contact-text">
                39 Red Barn, Turves, Peterborough, PE7 2DZ
            </p>
            <p class="contact-text">
                <strong>Phone: </strong>01733 222124
            </p>
            <p class="contact-text">
                <strong>Email: </strong>barkinghampalace@outlook.com
            </p>
        </div>

        <div class="opening-hours-container">
            <p class="opening-hours-text">
                <strong>Opening Hours:</strong>
            </p>
            <p class="opening-hours-text">
                Mon-Thurs: 09.00 - 20.00
            </p>
            <p class="opening-hours-text">
                Fri: 09.00 - 18.00
            </p>
            <p class="opening-hours-text">
                Sat: 09.00 - 15.00
            </p>
            <p class="opening-hours-text">
                Sun: 10.00 - 16.00
            </p>
        </div>

        <div class="awards-container">
            <img class="award" src="Pif.png" alt="pif">
            <img class="award" src="Cityandguilds.png" alt="cityandguilds">
            <img class="award" src="Rosette.png" alt="Rosette">
        </div>
    </footer>

</html>