<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Barkingham Palace Website">

    <title>Barkingham Palace</title>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<header>

    <nav class="navbar-top">
        <label class="navbar-hamburger" for="hamburger">
            <em class="fa fa-bars"></em>
        </label>

        <a class="logo-container" href="/home">
            <img class="logo" src="Logo.png" alt="Logo">
        </a>

        <input type="checkbox" id="hamburger"></input>

        <ul class="nav-menu">
            <li>
                <a href="/home" class="nav-menu-links">Home</a>
            </li>
            <li>
                <a href="/about" class="nav-menu-links">About</a>
            </li>
            <li>
                <a href="/grooming" class="nav-menu-links">Grooming</a>
            </li>
            <li>
                <a href="/boarding" class="nav-menu-links">Boarding</a>
            </li>
            <li>
                <a href="/gallery" class="nav-menu-links">Gallery</a>
            </li>
            <li>
                <a href="/testimonials" class="nav-menu-links">Testimonials</a>
            </li>
            <li>
                <a href="/contact" class="nav-menu-links">Contact</a>
            </li>
        </ul>

    </nav>

</header>

<div class="image-bar">
    <img class="large-image" src="Grooming8.jpg" alt="Grooming">
    <img class="large-image" src="Boarding8.jpg" alt="Boarding">
</div>

<div class="cta-bar">
    <div class="cta-text-box">
        <p class="cta-text">
            Want to pimp up your pooch? Or looking for boarding pawfection?
        </p>
        <p class="cta-text">
            Speak to our friendly team on 01733 222124 or click to read more...
        </p>
    </div>

    <div class="cta-button-box">
        <a href="/about" class="cta-button">
            About Us
        </a>
    </div>
</div>

<div class="home-page-content">
    <div class="title">
        Contact us at Barkingham Palace
    </div>

    <div class="strapline">
        Want to book you furry friend to be pampered with us? Or do you have more questions?
    </div>

    <div class="home-text-box">
        If you have any questions in regards to our Luxury Dog Grooming or Home Boarding services,
        regarding pricing, available dates, or if you would like to book meet & greet,
        do not hesitate to give us a message or a call and we will get back to you as soon as possible!
        If the opening times don’t fit with you, please feel free to call and we will try to work around you, within
        reason.
        If you have any queries or questions regarding appointments or appointment pricing, please do not hesitate and
        get in touch!
    </div>

    <div class="services-box">
        <div class="contact-details">
            <div class="contact-box">
                <div class="contact-title">
                    Contact Details
                </div>
                <div class="contact-info">
                    <strong>Address: </strong>Barkingham Palace, Luxury Grooming Salon and Boarding Kennels,
                    39 Red Barn, Turves, Peterborough, PE7 2DZ
                </div>
                <div class="contact-info">
                    <strong>Phone: </strong>01733 222124
                </div>
                <div class="contact-info">
                    <strong>Email: </strong>barkinghampalace@outlook.com
                </div>
            </div>
            <div class="contact-box">
                <div class="contact-title">
                    Opening Hours
                </div>
                <div class="contact-info-small">
                    Mon-Thurs: 09.00 - 20.00
                </div>
                <div class="contact-info-small">
                    Fri: 09.00 - 18.00
                </div>
                <div class="contact-info-small">
                    Sat: 09.00 - 15.00
                </div>
                <div class="contact-info-small">
                    Sun: 10.00 - 16.00
                </div>
            </div>
        </div>
        <div class="contacts">
            <div class="contact-box">
                <div class="contact-title">
                    Send us an Enquiry
                </div>
                <form action="/contact">
                    <div class="container">
                        <label for="name">Name</label>
                        <input type="text" placeholder="Enter Name" name="name" required>

                        <label for="email">Email</label>
                        <input type="text" placeholder="Enter Email" name="email" required>

                        <label for="phone">Phone</label>
                        <input type="text" placeholder="Enter Phone" name="phone" required>

                        <label for="message">Message</label>
                        <input type="text" placeholder="Enter Phone" name="phone" required>
                        <hr>

                        <button type="submit" class="submitbtn">Submit</button>
                    </div>
                </form>
            </div>
            <div class="contact-box">
                <div class="contact-title">
                    Where we are
                </div>
                <div class="contact-map">
                    <img class="contact-map-image" src="Map.jpeg" alt="Map">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social-media-bar">
    <div class="social-media-text-box">
        <p class="social-media-text">
            Like what you see and want to see more?
        </p>
        <p class="social-media-text">
            Why not follow us on social media?
        </p>
    </div>

    <div class="social-media-icons-box">
        <em class="social-media-icon fa fa-facebook-square"></em>
        <em class="social-media-icon fa fa-instagram"></em>
        <em class="social-media-icon fa fa-twitter-square"></em>
        <em class="social-media-icon fa fa-google-plus-square"></em>
    </div>
</div>

<footer class="navbar-bottom">
    <div class="contact-details-container">
        <p class="contact-text">
            <strong>Address: </strong>Barkingham Palace, Luxury
        </p>
        <p class="contact-text">
            Grooming Salon and Boarding Kennels,
        </p>
        <p class="contact-text">
            39 Red Barn, Turves, Peterborough, PE7 2DZ
        </p>
        <p class="contact-text">
            <strong>Phone: </strong>01733 222124
        </p>
        <p class="contact-text">
            <strong>Email: </strong>barkinghampalace@outlook.com
        </p>
    </div>

    <div class="opening-hours-container">
        <p class="opening-hours-text">
            <strong>Opening Hours:</strong>
        </p>
        <p class="opening-hours-text">
            Mon-Thurs: 09.00 - 20.00
        </p>
        <p class="opening-hours-text">
            Fri: 09.00 - 18.00
        </p>
        <p class="opening-hours-text">
            Sat: 09.00 - 15.00
        </p>
        <p class="opening-hours-text">
            Sun: 10.00 - 16.00
        </p>
    </div>

    <div class="awards-container">
        <img class="award" src="Pif.png" alt="pif">
        <img class="award" src="Cityandguilds.png" alt="cityandguilds">
        <img class="award" src="Rosette.png" alt="Rosette">
    </div>
</footer>

</html>