<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Barkingham Palace Website">

        <title>Barkingham Palace</title>

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>

    <header>

        <nav class="navbar-top">
            <label class="navbar-hamburger" for="hamburger">
                <em class="fa fa-bars"></em>
            </label>

            <a class="logo-container" href="/home">
                <img class="logo" src="Logo.png" alt="Logo">
            </a>

            <input type="checkbox" id="hamburger"></input>

            <ul class="nav-menu">
                <li>
                    <a href="/home" class="nav-menu-links">Home</a>
                </li>
                <li>
                    <a href="/about" class="nav-menu-links">About</a>
                </li>
                <li>
                    <a href="/grooming" class="nav-menu-links">Grooming</a>
                </li>
                <li>
                    <a href="/boarding" class="nav-menu-links">Boarding</a>
                </li>
                <li>
                    <a href="/gallery" class="nav-menu-links">Gallery</a>
                </li>
                <li>
                    <a href="/testimonials" class="nav-menu-links">Testimonials</a>
                </li>
                <li>
                    <a href="/contact" class="nav-menu-links">Contact</a>
                </li>
            </ul>

        </nav>

    </header>

    <div class="image-bar">
        <img class="large-image" src="Grooming9.jpg" alt="Grooming">
        <img class="large-image" src="Boarding9.jpeg" alt="Boarding">
    </div>

    <div class="cta-bar">
        <div class="cta-text-box">
            <p class="cta-text">
                Want to pimp up your pooch? Or looking for boarding pawfection?
            </p>
            <p class="cta-text">
                Speak to our friendly team on 01733 222124 or send us an enquiry...
            </p>
        </div>

        <div class="cta-button-box">
            <a href="/contact" class="cta-button">
                Enquire
            </a>
        </div>
    </div>

    <div class="home-page-content">
        <div class="title">
            Luxury Grooming Services at Barkingham Palace Salon
        </div>

        <div class="strapline">
            Whether big or small we groom them all. Paws down, the best around!
        </div>

        <div class="home-text-box">
            We provide a wide range of services covering all your dog grooming needs under one roof.
            Whether it’s your puppy’s first groom or your dog’s regular “clip & trim”, our bespoke service is based on breed characteristics,
            your preferences and your pet’s own nature and health, we can provide the perfect package at competitive and affordable rates.
            All our canine grooming equipment and tools are professional-salon standard 
            and of course we are a multi-award winning professional dog groomers as well as life-long dog lovers.
        </div>

        <div class="info-container">
            <div class="info-box">
                <div class="info-main">
                    <div class="info-title">
                        Full Groom for Long Haired Breeds -  From £27 per dog
                    </div>
                    <div class=info-body>
                        Our Full Groom service for Long Haired Breeds includes a pre-groom, bath, brush, blow dry, full body styling, eyes and ears cleaned and nail clip.
                        Prices will vary depending on size of dog and coat condition. For a personalised quote for your dog, please contact us.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="FullGroom2.jpeg" alt="FullGroomLong">
                </div>
            </div>
            <div class="info-box-alt">
                <div class="info-main">
                    <div class="info-title">
                        Full Groom for Smooth Haired Breeds – From £27 per dog
                    </div>
                    <div class="info-body">
                        Our Full Groom service for Smooth Haired Breeds has been developed especially for short/smooth coated dog breeds that may not need a full styling.
                        Each of these grooms includes a pre-groom, bath, brush, blow dry, eyes and ears cleaned and nail clip.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="FullGroom.jpeg" alt="FullGroomShort">
                </div>
            </div>
            <div class="info-box">
                <div class="info-main">
                    <div class="info-title">
                        Bath, Brush & Blow Dry - From £20 per dog
                    </div>
                    <div class="info-body">
                        Perfect for in-between groom, to keep your dog looking their best.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="BathnBrush.jpeg" alt="BathnBrush">
                </div>
            </div>
            <div class="info-box-alt">
                <div class="info-main">
                    <div class="info-title">
                        Puppy Groom - Only £20 per puppy
                    </div>
                    <div class="info-body">
                        Perfect for introducing your puppy to grooming, this dedicated puppy groom is suitable for puppies from three to six months old.
                        The groom includes a bath, brush through of the coat, gentle blow dry, eyes and ears cleaned, paw tidy if needed and nail clip.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="PuppyGroom.jpg" alt="PuppyGroom">
                </div>
            </div>
            <div class="info-box">
                <div class="info-main">
                    <div class="info-title">
                        The deShedding Treatment - £8 extra
                    </div>
                    <div class="info-body">
                        Perfect for dog breeds that are prone to shedding.
                        Our deShedding service includes: Pre bath deShedding with FURminator tool selected specifically for your pet
                        Bath with FURminator deShedding shampoo and conditioner
                        Brush and blow dry
                        Additional final deShedding for a perfect finish
                        Not suitable for all dog coats. Please speak with the team for more information.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="Deshedding.jpg" alt="Deshedding">
                </div>
            </div>
            <div class="info-box-alt">
                <div class="info-main">
                    <div class="info-title">
                        The VIP Treatment - £10 extra
                    </div>
                    <div class="info-body">
                        Our gold standard of spa treatment, this luxury service, which can be added to your dog’s groom for only £10 includes:
                        Application of teeth clean gel and fresh breath foam, Paw wax, SPA™ blueberry facial, Luxury or Natural shampoo,
                        Hydrating butter treatment and Spritz of fragrance.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="VIP.jpeg" alt="VIP">
                </div>
            </div>
            <div class="info-box">
                <div class="info-main">
                    <div class="info-title">
                        The Poodles & Oodles Treatment - £8 extra
                    </div>
                    <div class="info-body">
                        A dedicated spa treatment with the sweet scent of chocolate that is tailored to support the unique needs of wool coated dogs, including:
                        Choice of Stand Proud or 2 in 1 conditioning shampoo, Comb through spray to tease out tangles, Application of teeth clean gel and fresh breath foam,
                        Spritz of fragrance.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="Oodles.jpeg" alt="Oodles">
                </div>
            </div>
            <div class="info-box-alt">
                <div class="info-main">
                    <div class="info-title">
                        Pick & Mix Treatments – Any 3 for £5
                    </div>
                    <div class="info-body">
                        If you don't need a whole package, why not consider our Pick & Mix treatments? Select three treatments from the menu below for only £5 extra.
                        Luxury shampoo, Natural Shampoo, Deep coat re-moisturising conditioner, Application of teeth clean gel, Application of fresh breath foam,
                        Paw tidy and wax, Tear stain remover, Ear clean, Spritz of fragrance.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="Pick&Mix.jpeg" alt="Pick&Mix">
                </div>
            </div>
            <div class="info-box">
                <div class="info-main">
                    <div class="info-title">
                        Little Paws Puppy Treatment - £10 extra
                    </div>
                    <div class="info-body">
                        The ideal treatment for the new arrivals in your home, this puppy spa treatment is perfect for puppies aged between 3-6 months to make their first puppy groom that extra bit special. Our Little Paws service includes:
                        Luxury shampoo, Blueberry facial, Hydrating butter treatment, Paw and nose treatment, Application of puppy teeth clean gel.
                    </div>
                </div>
                <div class="info-picture">
                    <img class="info-image" src="PuppyExtra.jpg" alt="PuppyExtra">
                </div>
            </div>
        </div>
    </div>

    <div class="social-media-bar">  
        <div class="social-media-text-box">
            <p class="social-media-text">
                Like what you see and want to see more?
            </p>
            <p class="social-media-text">
                Why not follow us on social media?
            </p>
        </div>

        <div class="social-media-icons-box">
            <em class="social-media-icon fa fa-facebook-square"></em>
            <em class="social-media-icon fa fa-instagram"></em>
            <em class="social-media-icon fa fa-twitter-square"></em>
            <em class="social-media-icon fa fa-google-plus-square"></em>
        </div>
    </div>

    <footer class="navbar-bottom">
        <div class="contact-details-container">
            <p class="contact-text">
                <strong>Address: </strong>Barkingham Palace, Luxury
            </p>
            <p class="contact-text">
                Grooming Salon and Boarding Kennels,
            </p>
            <p class="contact-text">
                39 Red Barn, Turves, Peterborough, PE7 2DZ
            </p>
            <p class="contact-text">
                <strong>Phone: </strong>01733 222124
            </p>
            <p class="contact-text">
                <strong>Email: </strong>barkinghampalace@outlook.com
            </p>
        </div>

        <div class="opening-hours-container">
            <p class="opening-hours-text">
                <strong>Opening Hours:</strong>
            </p>
            <p class="opening-hours-text">
                Mon-Thurs: 09.00 - 20.00
            </p>
            <p class="opening-hours-text">
                Fri: 09.00 - 18.00
            </p>
            <p class="opening-hours-text">
                Sat: 09.00 - 15.00
            </p>
            <p class="opening-hours-text">
                Sun: 10.00 - 16.00
            </p>
        </div>

        <div class="awards-container">
            <img class="award" src="Pif.png" alt="pif">
            <img class="award" src="Cityandguilds.png" alt="cityandguilds">
            <img class="award" src="Rosette.png" alt="Rosette">
        </div>
    </footer>

</html>