@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto-Condensed", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 767px) {
    .navbar-top {
        background-color: #07020d;
        border: 1px solid #22181c;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 15vh;
        width: 100vw;
    }

    .nav-menu {
        list-style-type: none;
        display: none;
        background-color: #07020d;
        margin-left: -5px;
        margin-right: -5px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .nav-menu-links {
        text-decoration: none;
        color: #e5e6e4;
        border-bottom: 3px solid transparent;
    }

    .nav-menu li {
        text-align: center;
        margin: 20px auto;
        font-size: 14pt;
        letter-spacing: 0.1em;
    }

    .logo-container {
        height: 15vh;
        width: 30vw;
    }

    .logo {
        display: inline-block;
        height: 100%;
        width: 90vw;
        padding-top: 20px;
        border: 2px solid #6d326d;
        border-radius: 30px;
        margin-right: 5vw;
        margin-left: 5vw;
    }

    .navbar-hamburger {
        position: absolute;
        top: 20px;
        right: 50px;
        cursor: pointer;
        color: #fbfbf2;
        font-size: 30px;
    }

    #hamburger {
        display: none;
    }

    #hamburger:checked + ul.nav-menu {
        display: block;
    }

    .nav-menu-links:hover {
        border-bottom: 3px solid #fffcf9;
    }

    .navbar-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background-color: #07020d;
        border: 1px solid #22181c;
        padding-bottom: 10px;
        height: 15vh;
        color: #e5e6e4;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
        align-items: center;
        height: 15vh;
        background-color: #07020d;
        border: 1px solid #22181c;
        width: 100vw;
    }

    #hamburger:checked + ul.nav-menu {
        display: flex;
    }

    .nav-menu {
        display: flex;
        list-style-type: none;
        margin-right: 30px;
        margin-top: 100px;
        flex-direction: row;
        justify-content: center;
        width: 70vw;
    }

    .nav-menu li {
        margin: 0;
        font-size: 8.5pt;
    }

    .nav-menu-links {
        margin-left: 30px;
        text-decoration: none;
        color: #e5e6e4;
        border-bottom: 3px solid transparent;
    }

    .logo-container {
        height: 15vh;
        width: 30vw;
        padding: 10px;
    }

    .logo {
        margin-top: 0;
        padding-top: 0px;
        height: 100%;
        width: 100%;
        border: 2px solid #6d326d;
        border-radius: 30px;
    }

    .navbar-hamburger {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .nav-menu-links:hover {
        border-bottom: 3px solid #fffcf9;
    }

    .navbar-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background-color: #07020d;
        border: 1px solid #22181c;
        padding-bottom: 10px;
        height: 15vh;
        color: #e5e6e4;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
        align-items: center;
        height: 15vh;
        background-color: #07020d;
        border: 1px solid #22181c;
        width: 100vw;
    }

    #hamburger:checked + ul.nav-menu {
        display: flex;
    }

    .nav-menu {
        display: flex;
        list-style-type: none;
        margin-right: 30px;
        margin-top: 100px;
        flex-direction: row;
        justify-content: center;
        width: 70vw;
    }

    .nav-menu li {
        margin: 0;
        font-size: 10pt;
        letter-spacing: 0.15em;
    }

    .nav-menu-links {
        margin-left: 35px;
        text-decoration: none;
        color: #e5e6e4;
        border-bottom: 3px solid transparent;
    }

    .logo-container {
        height: 15vh;
        width: 30vw;
        padding: 10px;
    }

    .logo {
        margin-top: 0;
        height: 100%;
        width: 100%;
        border: 2px solid #6d326d;
        border-radius: 30px;
    }

    .navbar-hamburger {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .nav-menu-links:hover {
        border-bottom: 3px solid #fffcf9;
    }

    .navbar-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background-color: #07020d;
        border: 1px solid #22181c;
        padding-bottom: 10px;
        height: 15vh;
        color: #e5e6e4;
    }
}

@media (min-width: 1201px) {
    .navbar-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
        align-items: center;
        height: 15vh;
        background-color: #07020d;
        border: 1px solid #22181c;
        width: 100vw;
    }

    #hamburger:checked + ul.nav-menu {
        display: flex;
    }

    .nav-menu {
        display: flex;
        list-style-type: none;
        margin-right: 30px;
        margin-top: 100px;
        flex-direction: row;
        justify-content: center;
        width: 70vw;
    }

    .nav-menu li {
        margin: 0;
        font-size: 12pt;
        letter-spacing: 0.15em;
    }

    .nav-menu-links {
        margin-left: 40px;
        text-decoration: none;
        text-decoration: none;
        color: #e5e6e4;
        border-bottom: 3px solid transparent;
    }

    .logo-container {
        height: 15vh;
        width: 30vw;
        padding: 10px;
    }

    .logo {
        margin-top: 0;
        height: 100%;
        width: 100%;
        border: 2px solid #6d326d;
        border-radius: 30px;
    }

    .navbar-hamburger {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .nav-menu-links:hover {
        border-bottom: 3px solid #fffcf9;
    }

    .navbar-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background-color: #07020d;
        border: 1px solid #22181c;
        padding-bottom: 10px;
        height: 15vh;
        color: #e5e6e4;
    }
}
