<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Barkingham Palace Website">

    <title>Barkingham Palace</title>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<header>

    <nav class="navbar-top">
        <label class="navbar-hamburger" for="hamburger">
            <em class="fa fa-bars"></em>
        </label>

        <a class="logo-container" href="/home">
            <img class="logo" src="Logo.png" alt="Logo">
        </a>

        <input type="checkbox" id="hamburger"></input>

        <ul class="nav-menu">
            <li>
                <a href="/home" class="nav-menu-links">Home</a>
            </li>
            <li>
                <a href="/about" class="nav-menu-links">About</a>
            </li>
            <li>
                <a href="/grooming" class="nav-menu-links">Grooming</a>
            </li>
            <li>
                <a href="/boarding" class="nav-menu-links">Boarding</a>
            </li>
            <li>
                <a href="/gallery" class="nav-menu-links">Gallery</a>
            </li>
            <li>
                <a href="/testimonials" class="nav-menu-links">Testimonials</a>
            </li>
            <li>
                <a href="/contact" class="nav-menu-links">Contact</a>
            </li>
        </ul>

    </nav>

</header>

<div class="image-bar">
    <img class="large-image" src="Grooming.jpg" alt="Grooming">
    <img class="large-image" src="Boarding.jpg" alt="Boarding">
</div>

<div class="cta-bar">
    <div class="cta-text-box">
        <p class="cta-text">
            Want to pimp up your pooch? Or looking for boarding pawfection?
        </p>
        <p class="cta-text">
            Speak to our friendly team on 01733 222124 or send us an enquiry...
        </p>
    </div>

    <div class="cta-button-box">
        <a href="/contact" class="cta-button">
            Enquire
        </a>
    </div>
</div>

<div class="home-page-content">
    <div class="title">
        Luxury Dog Grooming and Boarding in Peterborough
    </div>

    <div class="strapline">
        Whether big or small we groom them all. Paws down, the best around!
    </div>

    <div class="strapline">
        Bone-afide boarding and care, we're the bark of the town!
    </div>

    <div class="home-text-box">
        Hello and welcome to Barkingham Palace Peterborough. We are a firmly established, luxury professional dog
        grooming salon and boarding kennels, situated in Peterborough.
        We provide a friendly professional service focusing solely on making your pet look and feel their best.
    </div>

    <div class="home-text-box">
        Our hand selected staff have extensive experience not only in dog grooming but in many other aspects of canine
        care, providing peace of mind for you and a safe environment for your pet while being groomed.
        Please take a look around our website and feel free to contact us with any questions, we are always happy to
        discuss your requirements or if you’re in the area pop in for a chat.
    </div>

    <div class="services-box">
        <div class="title">
            Luxury Dog Grooming and Boarding Services
        </div>

        <div class="services-text-box">
            Please click on the links below to view more information about our extensive range of luxury grooming
            services, or if you are interested in booking your pooch in for a stay in our luxury dog hotel. Or if you
            are really wanting to spoil your furry friend, why not do both?
        </div>

        <div class="services">
            <a href="/grooming" class="image-box">
                <img class="linked-image" src="GroomingImage.jpg" alt="Grooming Image">
                <div class="caption">Grooming Services</div>
            </a>
            <a href="/boarding" class="image-box">
                <img class="linked-image" src="BoardingImage.jpg" alt="Boarding Image">
                <div class="caption">Boarding Services</div>
            </a>
        </div>
    </div>

    <div class="testimonial-bar">
        <div class="sub-title">
            Testimonials
        </div>

        <div class="testimonial-text-box">
            Absolutely fantastic treatment and cut for Lola, our Toy Poodle, her coat is beautiful and she smells
            gorgeous! She will definitely be back, the ladies were amazing with her as it was her first visit and she
            can be slightly nervous of strangers but went in wagging her tail!! I cannot fault in any way!! Highly
            recommend!!! 5*
            – David Dickinson
        </div>

        <div class="testimonial-text-box">
            Kaos our very spoiled Border Collie has had yet another holiday at Barkingham Palace.
            He absolutely loves being with you all. When he has to leave, he cries in the the back of the car until we
            are on the motorway. He sulks for a day or two wishing he was back in his 6* luxury hotel..with his friends.
            Your care and service is second to none. I would not trust Kaos with anyone else. If you could not look
            after him, I would not go on holiday.
            - Keith Lemon
        </div>
    </div>
</div>

<div class="social-media-bar">
    <div class="social-media-text-box">
        <p class="social-media-text">
            Like what you see and want to see more?
        </p>
        <p class="social-media-text">
            Why not follow us on social media?
        </p>
    </div>

    <div class="social-media-icons-box">
        <em class="social-media-icon fa fa-facebook-square"></em>
        <em class="social-media-icon fa fa-instagram"></em>
        <em class="social-media-icon fa fa-twitter-square"></em>
        <em class="social-media-icon fa fa-google-plus-square"></em>
    </div>
</div>

<footer class="navbar-bottom">
    <div class="contact-details-container">
        <p class="contact-text">
            <strong>Address: </strong>Barkingham Palace, Luxury
        </p>
        <p class="contact-text">
            Grooming Salon and Boarding Kennels,
        </p>
        <p class="contact-text">
            39 Red Barn, Turves, Peterborough, PE7 2DZ
        </p>
        <p class="contact-text">
            <strong>Phone: </strong>01733 222124
        </p>
        <p class="contact-text">
            <strong>Email: </strong>barkinghampalace@outlook.com
        </p>
    </div>

    <div class="opening-hours-container">
        <p class="opening-hours-text">
            <strong>Opening Hours:</strong>
        </p>
        <p class="opening-hours-text">
            Mon-Thurs: 09.00 - 20.00
        </p>
        <p class="opening-hours-text">
            Fri: 09.00 - 18.00
        </p>
        <p class="opening-hours-text">
            Sat: 09.00 - 15.00
        </p>
        <p class="opening-hours-text">
            Sun: 10.00 - 16.00
        </p>
    </div>

    <div class="awards-container">
        <img class="award" src="Pif.png" alt="pif">
        <img class="award" src="Cityandguilds.png" alt="cityandguilds">
        <img class="award" src="Rosette.png" alt="Rosette">
    </div>
</footer>

</html>